/Guia7manosalaobra/build/
/JavaApplication57/nbproject/private/
/JavaApplication57/build/
/Guia7POOEj01 - Libro/nbproject/private/
/Guia7POOEj01 - Libro/build/
/Guia7POOEj01/nbproject/private/
/Guia7POOEj02 - Circunferencia/nbproject/private/
/Guia7POOEj02 - Circunferencia/build/
/Guia7POOEj03 - Operaciones/nbproject/private/
/Guia7POOEj03 - Operaciones/build/